* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

   /*------ CUSTOM MADE ------*/
.custom-link {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    /* INSET FOR INNER SHADOW */
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                    7px 7px 20px 0px rgba(0,0,0,.1),
                    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
}

    /* MAIN PANEL */

.panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 999;
    color: #000;
    background-color: black;
    box-sizing: border-box;
    background-color: #ECEFF1; 
}

    /* THIS CONTENT WILL ONLY FOR ANIMATION DDELAY AFTER OPEN */
.navigation__content {
    opacity: 0;
    will-change: margin-top;
    transition: all 700ms;
    padding: 4% 4%;
    transition-delay: 600ms;
    margin-top: -5%;
}

    /* Panel content animation after open */
.panel:target .navigation__content {
    opacity: 1;
    margin-top: 0; 
}

.panel#home {
    z-index: 1;
    /* background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,#CFD8DC 100%);  */
}

    /* SLIDE IN CONTENTS */
.panel#slide {
    background-color: #fff;
    transition: all 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
    transform: translate3d( -100%, 0, 0 );
    font-family: 'Alegreya', serif;
}

.panel#slide:target {
    transform: translate3d( 0, 0, 0 ); 
}

.panel#slide_down {
    background-color: #fff;
    transition: all 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
    transform: translate3d( 0, -100%, 0 );
    font-family: 'Alegreya', serif;
}

.panel#slide_down:target {
    transform: translate3d( 0, 0, 0); 
}

.panel#slide_right {
    background-color: #fff;
    transition: all 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
    transform: translate3d( 100%, 0, 0 );
    font-family: 'Alegreya', serif;
}

.panel#slide_right:target {
    transform: translate3d( 0, 0, 0); 
}


.panel#fade {
    background-color: #00C853;
    opacity: 0;
    transition: all 800ms;
    pointer-events: none; 
}
    
.panel#fade:target {
    opacity: 1;
    pointer-events: auto; 
}

    /* ABOUT ME PANEL */
.about_resume_link {
    text-decoration: none;
    display: inline-block;
    color: #f7f7f7;
    font-weight: 600;
    border-radius: 40px;
    pointer-events: auto;
    line-height: 40px; 
    padding: 0 50px; 
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    border-radius: 50px;
    background-color: #FFC54A;
    box-shadow: 17px 10px 15px 4px rgba(0,0,0,0.63);
    margin-bottom: 20px;
}


.about_resume_link:hover {
    background-color: #FFC54A; 
    color: white;
    transition: all 300ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
}

.about_resume_link:active {
    transform: translateY(10%);
}

.about_me {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 50px;
}

/* ABOUT LEFT SECTION */

.about_left {
    width:380px;
    height:380px;
    margin:10px;
    background-color:#000;
    display:inline-block;
    background-size:cover;
    position:relative;
    cursor:pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    overflow:hidden;
    color:white;
    position: relative;
}

.about_left img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.about_left .text
{
    /*  z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.about_left h1
{
    transform: translateX(200px);
    font-weight:300;
    margin:0;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.about_left h2
{
    font-weight:600;
    font-size: 18px;
    font-style:italic;
    color: #777777;
    transform: translateX(200px);
}

.about_left .info_container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.about_left .font-color {
    color: #FCC255;
}

.about_left p
{
    font-weight: 600;
    margin:20px 0 0 0;
    line-height: 25px;
    /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.animate-text
{
    opacity:0;
    transition: all 0.6s ease-in-out;
}

.about-social-logo {
    border: none;
    background-color: #52B3D9;
    padding: 15px;
    margin-right: 10px;
    margin-top: 10px;
}

.about-social-logo:hover {
    background-color: #FF517E;
    transition: all 500ms ease;
}

.about-social-logo:active {
    transform: translateY(15%);
}


.about_left:hover
{
/*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
    transform:scale(1.05);
}

.about_left:hover img
{
    opacity: 0.2;
}

.about_left:hover .animate-text
{
    transform:translateX(0);
    opacity:1;
}

/* ABOUT RIGHT SECTION */

.about_heading {
    width: 160px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-decoration: wavy 3px underline #fcc255;
}

.about_title {
    font-size: 44px;
    color: #52B3D9;
    margin: 20px 0;
    font-weight: 500;
}

.about_msg {
    font-size: 15px;
    color: #777777;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 400;
}

.about_sign_block {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left_sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.name_sign {
    color: #39A9BF;
    font-weight: 600;
}

.title_sign {
    font-weight: 500;
    color: #777777;
}

.about_btn {
    padding: 18px 26px;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 26px;
    margin-top: 36px;
    cursor: pointer;
}

.about_heading span:hover {
    background-color: rgb(212, 9, 111, 0.2);
    cursor: vertical-text;
}

.about_title span:hover {
    background-color: rgb(212, 9, 111, 0.2);
    cursor: vertical-text;
}

.about_msg span:hover {
    background-color: rgb(212, 9, 111, 0.2);
    cursor: vertical-text;
}

.download_btn {
    background-color: #FCC255;
}

.hire_me {
    background-color: #FF517E;
}

.download_btn:hover {
    background-color: #FF517E;
    transition: all 0.7s ease;
    box-shadow: 2px 2px 5px black;
}

.hire_me:hover {
    background-color: #FCC255;
    transition: all 0.7s ease;
    box-shadow: 2px 2px 10px black;
}

/* LEARNING */
.learning {
    width: 80%;
    margin: 50px auto;
    border-bottom: 2px solid #ccc;
    padding-bottom: 50px;
}

.learning_title_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.learning_heading {
    width: 160px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-decoration: wavy 3px underline #fcc255;

}

.learning_title {
    color: #556d91;
    font-size: 44px;
    font-weight: 500;
}

/* LEARNING CARD */

.learning_card_container {
    width: 80%;
    display: grid;
    margin-top: 30px;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

.learning_card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #ccc;
    cursor: pointer;
}

.learning_card:hover {
    box-shadow: 2px 5px 10px black;
    transform: translateY(-5%);
    transition: all 500ms ease;
    background-color: #F3FEB0;
}

.learning_img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.learning_description {
    padding: 16px;
}

.learning_place {
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}

.learning_address {
    font-size: 16px;
    font-style: italic;
    color: #777777;
    font-weight: 400;
    margin-bottom: 5px;
}

.learning_degree {
    font-style: 16px;
    font-weight: 600;
}
/* OVERALL SKILLS */
.overall_skills {
    padding: 30px 0;
    width: 85%;
    margin: 0 auto;
    border-bottom: 2px solid #ccc;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.overall_card_container {
    display: flex;
    flex-wrap: wrap;
}

.overall_card {
    width: 300px;
    border: 1px solid rgba(61, 61, 61, 0.3);
    border-radius: 5px;
    margin: 20px;
    min-width: 300px;
    text-align: center;
    cursor: grab;
    box-shadow: 0px 2px 5px #ccc;
    padding: 15px;
}

.overall_card:hover {
    box-shadow: 2px 5px 10px black;
    transform: translateY(-5%);
    transition: all 500ms ease;
    background-color: #f6fdc4;
}

.overall_img {
    padding: 20px;
}

.overall_des_title {
    color: #2c55ad;
    font-size: 30px;
    font-weight: 500;
    text-decoration: 3px underline #FCC255;
    margin-bottom: 10px;
}

.overall_des {
    padding: 10px;
    color: #777;
}

/* SKILL CARDS */
.skills {
    position: relative;
    padding: 30px 0;
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid #ccc;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.skills_heading {
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-decoration: wavy 3px underline #fcc255;
    text-align: center;
}

.skills .skills_container {
    padding-top: 50px;
    list-style-type: none;
}

.skills_container li {
    margin-bottom: 50px;
    background-color: #dedede;
    height: 6px;
}

.skills_li em {
    font-size: 18px;
    position: relative;
    top: -30px;
}

.skills_li span { 
    height: inherit;
    background-color: #fcc255;
    background: linear-gradient(45deg, #fcc255 0%, #FF517E 100%);
    position:absolute;
}

.html {
    width: 100%;
    animation: html5 3s ease-out;
}
.css {
    width: 100%;
    animation: css3 3s ease-out;
}
.javascript {
    width: 80%;
    animation: js 3s ease-out;
}
.php {
    width: 90%;
    animation: php 3s ease-out;
}
.Python {
    width: 65%;
    animation: python 3s ease-out;
}

.django {
    width: 80%;
    animation: django 3s ease-out;
}

.odoo {
    width: 70%;
    animation: odoo 3s ease-out;
}

.react {
    width: 50%;
    animation: react 3s ease-out;
}

.creativity {
    width: 85%;
    animation: creativity 3s ease-out;
}

.background_changer1 {
    background-color: #8BC6EC !important;
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%) !important;
}

.background_changer2 {
    background-color: #d4fc79 !important;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%) !important;
}

/* PORTFOLIO PROJECTS */

.project_flow {
    width: 90%;
    margin: 0 auto;
}

.project_flow h1 {
    font-size: 44px;
    color: #2c55ad;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.project_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

.project__des {
    font-size: 18px;
    font-weight: 500;
    color: #777777;
    margin-bottom: 20px;
}

.project_link {
    text-decoration: none;
    color: black;
}

.project_card {
    width: 350px;
    max-width: 350px;
    position: relative;
}

.project_link::before {
    background: linear-gradient(
      to top,
      hsl(0 0% 0% / 0.79) 0%,
      hsl(0 0% 0% / 0.787) 7.8%,
      hsl(0 0% 0% / 0.779) 14.4%,
      hsl(0 0% 0% / 0.765) 20.2%,
      hsl(0 0% 0% / 0.744) 25.3%,
      hsl(0 0% 0% / 0.717) 29.9%,
      hsl(0 0% 0% / 0.683) 34.3%,
      hsl(0 0% 0% / 0.641) 38.7%,
      hsl(0 0% 0% / 0.592) 43.3%,
      hsl(0 0% 0% / 0.534) 48.4%,
      hsl(0 0% 0% / 0.468) 54.1%,
      hsl(0 0% 0% / 0.393) 60.6%,
      hsl(0 0% 0% / 0.31) 68.3%,
      hsl(0 0% 0% / 0.216) 77.3%,
      hsl(0 0% 0% / 0.113) 87.7%,
      hsl(0 0% 0% / 0) 100%
    );
    transition: 300ms opacity linear;
}

.project_link::after {
    background: linear-gradient(90deg,hsl(5 97% 63% / 0.7) 0,hsl(5 97% 63% / 0) 100%);
    opacity: 0;
    transition: 300ms opacity linear;
}

.project_link > * {
    z-index: 1;
}

.project__img {
    width: 100%;
    margin: 0;
    z-index: -1;
    object-fit: cover;
    filter: grayscale(1);
    transition: filter 200ms ease, transform 250ms linear;
}


.project_link h2, .project_link p {
  transform: translateY(2ex);
}

.project_link p {
  font-size: 1.2rem;
  font-weight: 500;
}

.project_link h2 {
    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.03ch;
    transition: 300ms transform ease;
}

.project_link p {
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.project_link:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.project_link:hover :is(h2, p),
.project_link:focus :is(h2, p) {
  transform: none;
}

.project_link:hover::after,
.project_link:focus::after,
.project_link:hover::before,
.project_link:focus::before {
  opacity: 0.7;
}

.project_link:hover p,
.project_link:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.project_link:hover img,
.project_link:focus img {
  filter: grayscale(0);
  transform: scale(1.05);
}

.project_card_des {
    font-size: 32px;
    font-weight: 700;
}

.project_lang {
    font-style: italic;
    font-weight: 400;
}


/*------------------- HOME PAGE SECTION -------------------*/
#home {
    width: 100%;
    height: 100vh;
    /* background-image: url("././assets/Background_Cover_Img/chillXXL.jpg");
    background-size: contain; */
    background: #f7eee2;  /* fallback for old browsers */
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* NAVIGATION */
#navigation {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* LOOPING AROUND */
.looping-around {
    width: 30%;
    background-color: rgb(212, 9, 111, 0.2);
    color: white;
    padding: 15px 20px;
    animation: looping_around 5s ease-in-out infinite alternate;
    z-index: 2;
    font-size: 24px;
    letter-spacing: 1.2;
}


.looping-around {
    font-family: 'Courgette', cursive;
    position: absolute;
    left: 40%;
}

    /* BUTTON HOME */
.btn-home {
    background-color: #f14668;
    border: none;
    z-index: 1;
}

.btn-home::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #f02951;
    border-radius: 10px;
    /* box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5); */
    transition: all 0.3s ease-in;
}

.btn-home:hover {
    color: #fff;
}

.btn-home:hover::after {
    left: 0;
    width: 100%;
}

.btn-home:active {
    /* THE BUTTON WILL DROP DOWN AFTER PRESSING */
    top: 2px;
}

    /* BRIEF INTRODUCTION SECTION */
.homepage-container {
    width: 70%;
    font-family: sans-serif;
    min-height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #343F4F;
    z-index: 1;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ccc;
    position: relative;
    left: -50%;
    cursor: pointer;
    transform: translateX(50%);
}

.profile-img {
    animation: rotation 5s ease-in-out infinite forwards;
}

.intro-text {
    display: inline-flex;
}

.intro-text .static-text {
    font-size: 44px;
    color: #fff;
    font-weight: 500;
}

.dynamic-intro li {
    list-style-type: none;
    margin-left: 10px;
    font-size: 44px;
    font-weight: 500;
    color: #FC6D6D;
    position: relative;
    top: 0;
    animation: toping 6s steps(4) infinite;
}

.dynamic-intro {
    height: 75px;
    line-height: 75px;
    overflow: hidden;
}

.dynamic-intro li .typo-text {
    position: relative;
}

.dynamic-intro li .typo-text::after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    background-color: #343F4F;
    border-left: 2px solid #FC6D6D;
    animation: typing 1.5s steps(15) infinite;
}

.dynamic-intro li:nth-child(1) {
    color: #F3FEB0;
    
}

.dynamic-intro li .typo-text:nth-child(1)::after {
    border-left-color: #F3FEB0;
}

.dynamic-intro li:nth-child(2) {
    color: #FEA443;
    border-left: #FEA443;
}

.dynamic-intro li .text1::after {
    border-left-color: #FEA443 !important;
}

.dynamic-intro li:nth-child(3) {
    color: #f14668;
}

.dynamic-intro li .text2::after {
    border-left-color: #f14668 !important;
}

/* .dynamic-intro li .typo-text:nth-child(3)::after {
    border-left-color: #705E78;
} */

.dynamic-intro li:nth-child(4) {
    color: #BB2020;
    border-left: #BB2020;
}

.dynamic-intro li .text3::after {
    border-left-color: #BB2020 !important;
}

    /* SOCIAL ICONS */
.social-block {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 16px;
}

.social-icons {
    margin-right: 15px;
}

.social-link {
    text-decoration: none;
    color: white;
}

.social-logo {
    padding: 16px;
    border: 3px solid white;
    border-radius: 50%;
}

.facebook:hover {
    border-color:#2c55ad;
    box-shadow: 0 0 15px #2c55ad;
    color: #2c55ad;
    text-shadow: 0 0 15px #2c55ad;
    transition: all 0.5s ease;
}

.linkedin:hover {
    border-color:#4dc247;
    box-shadow: 0 0 15px #4dc247;
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}

.github:hover {
    border-color:#dd4b39;
    box-shadow: 0 0 15px #dd4b39;
    color: #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}

.instagram:hover {
    border-color:#bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.twitter:hover {
    border-color:#00aced;
    box-shadow: 0 0 15px #00aced;
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

/*------------------- HOME PAGE SECTION -------------------*/

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -30px 0 30px;
    }
}

@keyframes toping {
    100% {
        top: -300px;
    }
}

@keyframes rotation {
    0% {
        transform: translateX(50%) rotateY(0deg);
    }
    50% {
        transform: translateX(50%) rotateY(360deg);
    }
    100% {
        transform: translateX(50%) rotateY(0deg);
    }
}

@keyframes looping_around {
    0% {
        transform: translateX(-150%) translateY(150%);
    }
    50% {
        transform: translateX(80%)  translateY(200%);
    }
    100% {
        transform: translateX(0%)  translateY(0%);
    }
}

@keyframes html5 { 
    0%  { 
        width:0px;
    } 
    100%{ 
        width:100%;
    }  
}
@keyframes css3 {
    0%  { 
        width:0px;
    } 
    100%{ 
        width:100%;
    }  
}
@keyframes js {
    0%  { 
        width:0px;
    }
    100%{ 
        width:80%;
    }
}

@keyframes php {
    0%  { 
        width:0px;
    }
    100%{ 
        width:90%;
    }
}

@keyframes python {
    0%  { 
        width:0px;
    }
    100%{ 
        width:65%;
    }
}

@keyframes django {
    0%  { 
        width:0px;
    }
    100%{ 
        width:80%;
    }
}

@keyframes odoo {
    0%  { 
        width:0px;
    }
    100%{ 
        width:70%;
    }
}


@keyframes react {
    0%  { 
        width:0px;
    }
    100%{ 
        width:50%;
    }
}

@keyframes creativity {
    0%  { 
        width:0px;
    }
    100%{ 
        width: 85%;
    }
}

/* MEDIA VIEW PORT */


@media screen and (max-width: 1370px) and (min-width: 992px) {
    .about_me {
        grid-template-columns: 40% 60%;
        grid-gap: 20px;
    }
}

@media screen and (min-width: 1370px) {

}