* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Lato', sans-serif;
}

    /* MAIN PANEL */

.panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 999;
    color: #000;
    box-sizing: border-box;
    background-color: #ECEFF1; 
}

    /* THIS CONTENT WILL ONLY FOR ANIMATION DDELAY AFTER OPEN */
.navigation__content {
    opacity: 0;
    will-change: margin-top;
    transition: all 700ms;
    padding: 4% 4%;
    transition-delay: 600ms;
    margin-top: -5%;
}

    /* Panel content animation after open */
.panel:target .navigation__content {
    opacity: 1;
    margin-top: 0; 
}

.panel#home {
    z-index: 1;
    /* background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,#CFD8DC 100%);  */
}

    /* SLIDE IN CONTENTS */
.panel#slide {
    background-color: #fff;
    transition: all 800ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
    transform: translate3d( -100%, 0, 0 );
    font-family: 'Alegreya', serif;
}

.panel#slide:target {
    transform: translate3d( 0, 0, 0 ); 
}

    /* ABOUT ME PANEL */
.about_resume_link {
    text-decoration: none;
    display: inline-block;
    color: #f7f7f7;
    font-weight: 600;
    border-radius: 40px;
    pointer-events: auto;
    line-height: 40px; 
    padding: 0 50px; 
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    border-radius: 50px;
    background-color: #FFC54A;
    box-shadow: 17px 10px 15px 4px rgba(0,0,0,0.63);
    margin-bottom: 20px;
}


.about_resume_link:hover {
    background-color: #FFC54A; 
    color: white;
    transition: all 300ms cubic-bezier(0.190, 1.000, 0.560, 1.000);
}

.about_resume_link:active {
    transform: translateY(10%);
}

.about_me {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
}

/* ABOUT LEFT SECTION */

.about_left {
    width:380px;
    height:380px;
    margin:10px;
    background-color:#000;
    display:inline-block;
    background-size:cover;
    position:relative;
    cursor:pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    overflow:hidden;
    color:white;
    position: relative;
}

.about_left img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.about_left .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.about_left h1
{
    transform: translateX(200px);
    font-weight:300;
    margin:0;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.about_left h2
{
    font-weight:600;
    font-size: 18px;
    font-style:italic;
    color: #777777;
    transform: translateX(200px);
}

.about_left .info_container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.about_left .font-color {
    color: #FCC255;
}

.about_left p
{
    font-weight: 600;
    margin:20px 0 0 0;
    line-height: 25px;
    /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.animate-text
{
    opacity:0;
    transition: all 0.6s ease-in-out;
}

.about-social-logo {
    border: none;
    background-color: #52B3D9;
    padding: 15px;
    margin-right: 10px;
    margin-top: 10px;
}

.about-social-logo:hover {
    background-color: #FF517E;
    transition: all 500ms ease;
}

.about-social-logo:active {
    transform: translateY(15%);
}


.about_left:hover
{
/*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
    transform:scale(1.05);
}

.about_left:hover img
{
    opacity: 0.2;
}

.about_left:hover .animate-text
{
    transform:translateX(0);
    opacity:1;
}

/* ABOUT RIGHT SECTION */

.about_heading {
    width: 145px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-decoration: wavy 3px underline #fcc255;
}

.about_title {
    font-size: 44px;
    color: #52B3D9;
    margin: 20px 0;
    font-weight: 500;
}

.about_msg {
    font-size: 15px;
    color: #777777;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 400;
}

.about_sign_block {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left_sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.name_sign {
    color: #39A9BF;
    font-weight: 600;
}

.title_sign {
    font-weight: 500;
    color: #777777;
}

.about_btn {
    padding: 18px 26px;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 26px;
    margin-top: 36px;
    cursor: pointer;
}

.download_btn {
    background-color: #FCC255;
}

.hire_me {
    background-color: #FF517E;
}

    /*------ CUSTOM MADE ------*/
.custom-link {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    /* INSET FOR INNER SHADOW */
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                    7px 7px 20px 0px rgba(0,0,0,.1),
                    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 15px;
    margin-right: 15px;
    text-align: center;
}

/*------------------- HOME PAGE SECTION -------------------*/
#home {
    width: 100%;
    height: 100vh;
    background-image: url("././assets/Background_Cover_Img/spacexxl.jpg");
    background-size: cover;
    background-color: rgb(44, 43, 43);
    padding-top: 10%;
}


    /* NAVIGATION */
#navigation {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /* LOOPING AROUND */
.looping-around {
    width: 30%;
    background-color: rgb(212, 9, 111, 0.2);
    color: white;
    padding: 15px 20px;
    animation: looping_around 5s ease-in-out infinite alternate;
    z-index: 2;
    font-size: 24px;
    letter-spacing: 1.2;
}


.looping-around {
    font-family: 'Courgette', cursive;
    position: absolute;
    left: 40%;
}

    /* BUTTON HOME */
.btn-home {
    background-color: #b621fe;
    border: none;
    z-index: 1;
}

.btn-home::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 10px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}

.btn-home:hover {
    color: #fff;
}

.btn-home:hover::after {
    left: 0;
    width: 100%;
}

.btn-home:active {
    /* THE BUTTON WILL DROP DOWN AFTER PRESSING */
    top: 2px;
}

    /* BUTTON RESUME */
.btn-resume {
  background: linear-gradient(0deg, rgb(212, 9, 111) 0%, rgb(251, 2, 23) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-resume span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-resume:before,
.btn-resume:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgb(251, 2, 23, 1);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-resume:before{
   height: 0%;
   width: 2px;
}
.btn-resume:after {
  width: 0%;
  height: 2px;
}
.btn-resume:hover{
  color: rgb(251, 2, 23, 1);
  background: rgb(251, 2, 23, 0.1);
}
.btn-resume:hover:before {
  height: 100%;
}
.btn-resume:hover:after {
  width: 100%;
}
.btn-resume span:before,
.btn-resume span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgb(251, 2, 23, 1);
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-resume span:before {
  width: 2px;
  height: 0%;
}
.btn-resume span:after {
  height: 2px;
  width: 0%;
}
.btn-resume span:hover:before {
  height: 100%;
}
.btn-resume span:hover:after {
  width: 100%;
}

    /* BRIEF INTRODUCTION SECTION */
.homepage-container {
    width: 70%;
    font-family: sans-serif;
    min-height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #343F4F;
    z-index: 1;
    opacity: 0.8;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ccc;
    position: relative;
    left: -50%;
    cursor: pointer;
    transform: translateX(50%);
}

.profile-img {
    animation: rotation 5s ease-in-out infinite forwards;
}

.intro-text {
    display: inline-flex;
}

.intro-text .static-text {
    font-size: 44px;
    color: #fff;
    font-weight: 500;
}

.dynamic-intro li {
    list-style-type: none;
    margin-left: 10px;
    font-size: 44px;
    font-weight: 500;
    color: #FC6D6D;
    position: relative;
    top: 0;
    animation: toping 6s steps(4) infinite;
}

.dynamic-intro {
    height: 75px;
    line-height: 75px;
    overflow: hidden;
}

.dynamic-intro li .typo-text {
    position: relative;
}

.dynamic-intro li .typo-text::after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    background-color: #343F4F;
    border-left: 2px solid #FC6D6D;
    animation: typing 1.5s steps(15) infinite;
}

.dynamic-intro li:nth-child(1) {
    color: #F3FEB0;
    
}

.dynamic-intro li .typo-text:nth-child(1)::after {
    border-left-color: #F3FEB0;
}

.dynamic-intro li:nth-child(2) {
    color: #FEA443;
    border-left: #FEA443;
}

.dynamic-intro li .test1::after {
    border-left-color: #FEA443 !important;
}

.dynamic-intro li:nth-child(3) {
    color: #705E78;
    border-left: #705E78;
}

.dynamic-intro li .test2::after {
    border-left-color: #705E78 !important;
}

/* .dynamic-intro li .typo-text:nth-child(3)::after {
    border-left-color: #705E78;
} */

.dynamic-intro li:nth-child(4) {
    color: #BB2020;
    border-left: #BB2020;
}

.dynamic-intro li .test3::after {
    border-left-color: #BB2020 !important;
}

    /* SOCIAL ICONS */
.social-block {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 16px;
}

.social-icons {
    margin-right: 15px;
}

.social-link {
    text-decoration: none;
    color: white;
}

.social-logo {
    padding: 16px;
    border: 3px solid white;
    border-radius: 50%;
}

.facebook:hover {
    border-color:#2c55ad;
    box-shadow: 0 0 15px #2c55ad;
    color: #2c55ad;
    text-shadow: 0 0 15px #2c55ad;
    transition: all 0.5s ease;
}

.linkedin:hover {
    border-color:#4dc247;
    box-shadow: 0 0 15px #4dc247;
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}

.github:hover {
    border-color:#dd4b39;
    box-shadow: 0 0 15px #dd4b39;
    color: #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}

.instagram:hover {
    border-color:#bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.twitter:hover {
    border-color:#00aced;
    box-shadow: 0 0 15px #00aced;
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

/*------------------- HOME PAGE SECTION -------------------*/

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -30px 0 30px;
    }
}

@keyframes toping {
    100% {
        top: -300px;
    }
}

@keyframes rotation {
    0% {
        transform:rotateY(0deg);
    }
    50% {
        transform:rotateY(360deg);
    }
    100% {
        transform:rotateY(0deg);
    }
}

@keyframes looping_around {
    0% {
        transform: translateX(-150%) translateY(150%);
    }
    50% {
        transform: translateX(80%)  translateY(200%);
    }
    100% {
        transform: translateX(0%)  translateY(0%);
    }
}

/* MEDIA VIEW PORT */

@media screen and (max-width: 1370px) and (min-width: 992px) {
    .about_me {
        grid-template-columns: 40% 60%;
        grid-gap: 20px;
    }
}

@media screen and (min-width: 1370px) {

}